@mixin media($width, $property: min-width) {
  @media screen and ($property: $width) {
    @content;
  }
}

@mixin retina2 {
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

@mixin font($fw, $fs, $lh, $ls: 0, $tt: none) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  text-transform: $tt;
}

@mixin centeredFlex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin transitioned($property: all) {
  transition: $property 250ms ease-in-out;
}
