%title {
  font-family: 'SF UI Display', sans-serif;
  @include font(700, 1.5rem, 1.16);
}

%paragraph {
  @include font(400, 1rem, 1.4, 0.5px);
}

%large-paragraph {
  @include font(700, 2.25rem, 1);
}

%big-paragraph {
  @include font(400, 1rem, 1.25);
}

%small-paragraph {
  @include font(400, 0.94rem, 1.33);
}

%little-paragraph {
  @include font(600, 0.69rem, 1, 1.3px, uppercase);
}

%cta-button {
  width: 12.5rem;
  height: 3.44rem;

  font-family: inherit;

  @extend %little-paragraph;

  color: $textColorPrimary;
  background-color: $accentColor;
  border-radius: 0.31rem;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
