%title {
  font-family: 'SF UI Display', sans-serif;
  @include font(700, 1.5rem, 1.16, _, _);
}

%main-paragraph {
  @include font(400, 1rem, 1.25, _, _);
}

// %list {
//   margin-top: 0;
//   margin-bottom: 0;
//   padding-left: 0;
//   list-style: none;
// }

// %button {
//   @include centeredFlex;
//   padding: 16px 32px;
//   font-family: inherit;
//   font-size: 16px;
//   line-height: 1.38;
//   font-weight: inherit;
//   border-radius: 5px;

//   @media screen and (min-width: 768px) {
//     font-size: inherit;
//     line-height: inherit;
//   }
// }

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
