$accentColor: #23c3b2;
$accentColorOnHover: #1fac9e;

$bgColor: #101010;

$textColorPrimary: #fff;
$textColorTransparent6: rgba(255, 255, 255, 0.6);
$textColorSecondary: #e5e5e5;

// $boxShadow: 0px 2px 3px rgb(0 0 0 / 14%), 0px 2px 5px rgb(0 0 0 / 20%),
//   2px 5px 5px rgb(0 0 0 / 15%);
