<section class="benefits section">
  <div class="container">
    <h2 class="benefits__title">
      Підключіть передплату за 1 грн та отримуйте:
    </h2>

    <ul class="benefits__list">
      <li class="benefits__list-item item">
        <span class="item__content--bold">ТВ-архів</span>
        <span class="item__content--thin">телепередач до 14 днів</span>
      </li>
      <li class="benefits__list-item item">
        <span class="item__content--bold">Full HD</span>
        <span class="item__content--thin">якість тільки за передплатою</span>
      </li>
      <li class="benefits__list-item item">
        <span class="item__content--bold">10% знижка</span
        ><span class="item__content--thin">на прем'єри</span>
      </li>
      <li class="benefits__list-item item">
        <span class="item__content--bold">5 пристроїв</span>
        <span class="item__content--thin">в одній передплаті</span>
      </li>
      <li class="benefits__list-item item">
        <span class="item__content--bold">Без реклами</span>
        <span class="item__content--thin">на всіх фільмах та мультфільмах</span>
      </li>
    </ul>

    <button type="button" class="benefits__button">Підключити</button>
  </div>
</section>
