<section class="hero section">
  <div class="container">
    <h1 class="hero__title">
      Дивіться ТБ та кіно без реклами в єдиній передплаті
    </h1>

    <p class="hero__paragraph">
      Популярні телеканали та величезна бібліотека фільмів, серіалів,
      мультфільмів, трансляцій у єдиній передплаті.
    </p>

    <div class="hero__arrow-wrapper">
      <svg width="16" height="12" class="hero__arrow-icon">
        <use href="../src/assets/icons/sprite.svg#icon-arrow"></use>
      </svg>
    </div>
  </div>
</section>
