<section class="prepayment">
  <div class="container prepayment__container">
    <h2 class="prepayment__title">
      <span class="prepayment__title--first-line">Передплата</span>
      <span class="prepayment__title--second-line">Оптимальна</span>
    </h2>

    <div class="prepayment__paragraph-wrapper">
      <p class="prepayment__paragraph--large">10000 фільмів та 160+ каналів</p>
      <p class="prepayment__paragraph--small">
        Голлівудська класика та свіжі кіно-новинки за підпискою, прямі футбольні
        трансляції та понад 160 каналів
      </p>
    </div>

    <div class="prepayment__order-wrapper">
      <span class="prepayment__price">від 1 грн</span>
      <button type="button" class="prepayment__button">Спробувати</button>
      <p class="prepayment__price--detail">
        Перші 14 днів за 1 грн,<br />Далі – 97 грн/міс.
      </p>

      <a
        href="https://www.youtube.com/"
        target="_blank"
        class="prepayment__link"
        >Детальніше</a
      >
    </div>
  </div>
</section>
