.hero {
  padding: 0 0 1.56rem 0;
  position: relative;

  background-image: url('..//..//assets/images/hero.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @include centeredFlex(column, center, center);

  @include retina2 {
    background-image: url('..//..//assets/images/hero@2x.webp');
  }
}

.hero__title {
  margin-bottom: 0.6rem;

  font-family: 'SF UI Display', sans-serif;
  @include font(700, 1.875rem, 1.2, _, _);

  color: $textColorPrimary;
}

.hero__paragraph {
  @extend %big-paragraph;

  color: $textColorPrimary;
  opacity: 0.8;
}

.hero__arrow-wrapper {
  position: absolute;
  bottom: 1.56rem;
  left: 50%;
  transform: translateX(-50%);
}

.hero__arrow-icon {
  display: block;
  animation: zoomIn 2000ms infinite;
}

@keyframes zoomIn {
  0% {
    opacity: 0.3;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  10% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.9;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
