.hero {
  padding: 12.5rem 0;
}

.hero__title {
  margin-bottom: 0.6rem;

  @extend %title;

  color: $textColorPrimary;
}

.hero__paragraph {
  @extend %main-paragraph;

  color: $textColorPrimary;
  opacity: 0.8;
}
